# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GamePuzzle.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity projects\GamePuzzle\.idea\.idea.GamePuzzle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
